body {
  padding-left: 5vw;
  background-color: #202020;
}

#devices {
  width: 90vw;
  height: 50vh;

  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 33% 33% 33% 33%;
  overflow: scroll;
  overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
  #devices {
    width: 90vw;
    height: 50vh;

    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33% 33%;
    overflow: scroll;
    overflow-x: hidden;
  }
}

.device {
  text-align: center;
  min-height: 50%;
  max-height: 65%;
  min-width: 40%;
  max-width: 90%;
  margin: 0px;
  border: 2px solid black;
  padding-top: 2%;
  border-radius: 2px;
}

.deviceinfo {
  margin: 0px;
  margin-top: 2%;
  font-size: small;
}

#log {
  width: 90vw;
  height: 16vh;
  margin-top: 3vh;
  padding-left: 0px;
}

ul {
  list-style: none;
  height: 100%;
  padding-left: 0px;
}

li {
  height: 20%;
  max-height: 3vh;
  font-size: small;
  color: white;
}

svg {
  margin-top: 2%;
  max-height: 40%;
  fill: darkgray;
}

.font {
  color: white;
}

#subscriber {
  margin-top: 1vh;
  border-radius: 10px;
  padding: 1%;
  background-color: transparent;
  color: #1ecd97;
  border: 1px solid #1ecd97;
  font-size: large;
}

#subscriber:hover {
  background-color: #1ecd97;
  color: white;
}

#subscriber:active {
  border: 3px solid #1ecd97;
}
